<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXEia7APa3xqGMTVgRw0HIG6pD79Iv3oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>882261605522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servyApp2</string>
	<key>PROJECT_ID</key>
	<string>servy-app2-1702a</string>
	<key>STORAGE_BUCKET</key>
	<string>servy-app2-1702a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882261605522:ios:e17750f6ac1ad92ca37a4b</string>
</dict>
</plist>